@import url('bootstrap');
@import url('bootstrap-icons');



* {
  padding: 0;
  margin: 0;
  background-color: darkblue;
  color: ivory;
  font-family: 'Miranda Sans Variable', sans-serif;
}

#jumbotron {
  display: flex;
  justify-content: center;
}
.jumbotron {
  border-radius: 50px;
  min-width: 70%;
  height: auto;

}
.logo {
  width: 100px;
}
.active {
  background-color: blueviolet ;
}

nav {
  font-size: larger;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a { 
    
    text-decoration: none;
    color: ivory; 
    border-style:solid;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

.card-title , .card-sub-title {
  color: ivory;
}

